.containerButton {
    padding: 10;
    width: 50;
    height: 50;
    margin-bottom: 8px;
}
.buttonComponente {
    /* background-color: #39216c; */
    border: none;
    border-radius: 70px;
    height: 43px;
    left: 464px;
    box-shadow: -2px 2px
}
.buttonComponente:hover {
    background-color: #4a0ecb
}
.buttonComponente:active {
    background-color: #7747de
}
.textButton {
    color: whitesmoke;
    font-size: 18px;
}