.containerButton {
    padding: 20;
    width: 50;
    height: 50;
}
.buttonComponente {
    background-color: #7433FF;
    border: none;
    border-radius: 70px;
    width: 195px;
    height: 43px;
    left: 464px;
    box-shadow: -2px 2px
}
.buttonComponente:hover {
    background-color: #4a0ecb
}
.buttonComponente:active {
    background-color: #7747de
}
.textButton {
    color: whitesmoke;
}