@media screen and (min-width: 850px) {
    .cardContainer {
        background-color: #C697E2;
        border-radius: 15px;
        margin-top: 20px;
        margin-left: 30px;
        margin-right: 30px;
        display: flex;
    }

    .containerLabel {
        width: 100%;
        margin: 10px;
        height: 20px;
        display: flex;
    }
    .cardLabel {
        width: 20%;
        margin-left: 10px;
        margin-top: 5px;
        color: white;
    }

    .containerValue {
        margin: 10px;
        padding-left: 10px;
        background-color: #C697E2;
        border-radius: 15px;
        display: flex;
        width: 100%;
    }
    .cardValue {
        width: 17%;
        margin-left: 10px;
        margin-bottom: 5px;
        color: rgb(36, 34, 34);
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-weight: 700;
    }
    .containerData {
        width: 90%;
    }
    .containerBtn {
        display: flex;
        width: 20%;
        align-items: center;
    }

}

@media screen and (max-width: 851px) {
    .cardContainer {
        background-color: #C697E2;
        border-radius: 15px;
        margin-top: 20px;
        margin-left: 30px;
        margin-right: 30px;
        display: flex;
    }
    
    .containerLabel {
        margin: 10px;
        height: 30%;
        width: 40%;
        font-weight: 20%;
    }
    .cardLabel {
        width: 50%;
        margin-left: 10px;
        margin-top: 5px;
        color: white;
    }
    
    .containerValue {
        margin: 10px;
        height: 30%;
        width: 20%;
        font-weight: 20%;
    }
    .cardValue {
        display: flex;
        width: 15%;
        margin-left: 20px;
        margin-bottom: 5px;
        color: rgb(39, 37, 37);
        font-family: Arial, Helvetica, sans-serif;
    }

    .containerData {
        display: flex;
        width: 90%;
    }
    .containerBtn {
        width: 20%;
        align-items: center;
        padding: 30px;
    }

}